body {
    font-family: Arial, sans-serif;
    background-color: #3d4a50;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e3aaaa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba
}

.resultContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e3aaaa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Ensure the container is hidden by default */
}